[submodule "src/soc/cv32e40x"]
	path = src/soc/cv32e40x
	url = ../../projects/scale4edge/cv32e40x.git
	branch = AHC_48bc
[submodule "src/soc/cv32e40x_base"]
	path = src/soc/cv32e40x_base
	url = https://github.com/openhwgroup/cv32e40x.git
[submodule "src/soc/cv32e40p"]
	path = src/soc/cv32e40p
	url = https://github.com/openhwgroup/cv32e40p.git
[submodule "src/croc"]
	path = src/croc
	url = https://github.com/pulp-platform/croc.git
